<!doctype html>

<html>
<head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%=gossips_path %>">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link active" href="<%=root_path%>">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active" href="<%=welcome_index_path %>">Welcome <span class="sr-only">(current)</span></a> 
    <a class="nav-item nav-link active" href="<%=new_gossip_path %>">Créer un potin <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="<%=team_index_path %>">Team <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link active" href="<%=contact_index_path %>">Contact <span class="sr-only">(current)</span></a>     
    </div>
  </div>
</nav>
</head>
  
 <body>

   
 <%= form_for @gossip do |f| %>

 <div classs = "form-group">

     <label> Titre</label>
     <%= f.text_field :title, class: 'form-control' %>
  </div>
     
<div class = 'form-group'>

  <label> Contenu</label>
     <%= f.text_area :content, class: 'form-control' %>
    </div>

<div class = 'form-group'>
    <%= f.text_field :user, class: 'form-control' %>
</div>
    <br /> <br />
<div class = 'form-group'>
   <button type="submit"> Editer</button> 

</div>


    <% end %>

      
  </body>
</html>